.accordion-img-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.artist-name {
    font-size: 18px;
    color: #1DB954;
}

.artist-name-wrap {
    text-align: left;
    font-display: flex;
    flex-direction: column;
    justify-content: end;
    width: 40%;
}

.album-img {
    width: 350px;
    border: 1px solid red;
}